.cart-table-content .table-content table tbody > tr td.product-name h5 a:hover {
    color: #27C77C !important;
}
.cart-table-content .table-content table tbody > tr td.product-price span, .cart-table-content .table-content table tbody > tr td.product-total span {
    color: #000 !important;
}
.continure-btn a, .common-btn-style a {
    background-color: #27C77C !important;
}
.continure-btn a:hover, .common-btn-style a:hover {
    background-color: #188653 !important;
}
.cart-shiping-update-wrapper .continure-clear-btn .clear-btn a i {
    color: #27C77C !important;
}
.cart-shiping-update-wrapper .continure-clear-btn .clear-btn a:hover {
    color: #188653 !important;
}
.cart-shiping-update-wrapper .update-btn a {
    background-color: #27C77C !important;
}
.cart-shiping-update-wrapper .update-btn a:hover {
    background-color: #188653 !important;
}
.total-price-cart{
    color: #27C77C !important;
    font-weight: 700;
    font-size: 18px;
}
.cart-collaterals-wrap .collaterals-content p span {
    color: #27C77C !important;
}
.grand-total-wrap ul li h4 {
    color: #27C77C !important;
}
.common-btn-style .common-btn-outline {
    background-color: #fff !important;
    color : #333 !important;
    border: 1px solid #27C77C !important;
}
.cart-shiping-update-wrapper{
    justify-content: right !important;
    margin-right: 30px;
}
.button-del-coupon {
    font-size: 15px;
    font-weight: 700;
    color: #000;
    display: inline-block;
    outline: none !important;
    border: 1px solid #27C77C !important;
    background-color: transparent !important;
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 26px;
}

