.btn-payment  {
    display: inline-block;
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #ffffff;
    border-radius: 26px !important;
    background-color: #ff0000 !important;
}
.btn-payment:hover {
    background-color: #CC0000 !important;
}
.common-btn-padding-2
{
    display: inline-block;
    font-size: 15px !important;
    font-weight: 700 !important;
    color: #ffffff;
    border-radius: 26px !important;
    padding: 10px 30px !important;
    background-color: #27C77C !important;
    margin-top: 2px;
}