.about-us-content .total-years h2 {
    color: #27C77C !important;
}

.about-us-content .about-btn a {
    color: #27C77C !important;
}
.about-us-content .about-btn a:hover{
    color: #fff !important;
    background-color: #27C77C !important;
}