.sub-mega-menu ul li{
    width: 100%;
}
.name_user{
    color: #444;
    font-weight: 500;
    font-size: 15px;
    margin-right: 20px;
}

.covid-update p a {
    background-color: #27C77C !important;
}

.main-menu > nav > ul > li:hover > a {
    color: #27C77C !important;
}

.main-menu > nav > ul > li > a.active {
    color: #27C77C !important;
}

.main-menu.hover-boder > nav > ul > li > a::after {
    background-color: #27C77C !important;
}

.header-action .header-action-icon:hover > a {
    color: #27C77C !important;
}

.header-action .header-action-icon > a span.pro-count.blue {
    background-color: #27C77C !important;
}

.cart-dropdown-wrap ul li .shopping-cart-title h3 {
    color: #27C77C !important;
}

.cart-dropdown-wrap ul li .shopping-cart-title h4 a:hover{
    color: #27C77C !important;
}

.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-total h4 span {
    color: #27C77C !important;
}
.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-button a {
    background-color: #27C77C !important;
}
.cart-dropdown-wrap .shopping-cart-footer .shopping-cart-button a:hover {
    background-color: #188653 !important;
}

.cart-dropdown-wrap ul li .shopping-cart-title h4 {
    width: 200px;
}